/* Custom Scheme */
:root {
    --color-neutral: 255, 255, 255;
  /* Ivory */
    --coloe-neutral-900: 26, 26, 25;
    --color-neutral-800: 44, 44, 42;
    --color-neutral-700: 64, 64, 61;
    --color-neutral-600: 86, 86, 81;
    --color-neutral-500: 108, 108, 102;
    --color-neutral-400: 130, 130, 123;
    --color-neutral-300: 154, 154, 145;
    --color-neutral-200: 178, 178, 168;
    --color-neutral-100: 203, 203, 192;
    --color-neutral-50: 229, 229, 216;
  /* Blue */
    --color-primary-50: 236, 243, 248;
    --color-primary-100: 203, 221, 236;
    --color-primary-200: 169, 200, 223;
    --color-primary-300: 136, 178, 211
    --color-primary-400: 102, 157, 199;
    --color-primary-500: 69, 135, 186;
    --color-primary-600: 51, 101, 138;
    --color-primary-700: 44, 87, 119;
    --color-primary-800: 32, 62, 86;
    --color-primary-900: 19, 38, 52;
  /* Green */
    --color-secondary-50: 243, 246, 239;
    --color-secondary-100: 221, 230, 209;
    --color-secondary-200: 200, 213, 179;
    --color-secondary-300: 178, 197, 150;
    --color-secondary-400: 157, 181, 120
    --color-secondary-500: 135, 164, 91;
    --color-secondary-600: 117, 142, 79;
    --color-secondary-700: 86, 105, 58;
    --color-secondary-800: 62, 76, 42;
    --color-secondary-900: 38, 46, 25;
}